@*@model Single_and_multiple_cheak_boxes.Models.TermsandCondition;*@

@model Single_and_multiple_cheak_boxes.Models.ViewModel
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form asp-controller="Home" asp-action="Index" method="post">
<div class="form-check">
    <input class="form-check-input" type="checkbox" asp-for="Ischesked">
    <label class="form-check-label" for="flexCheckDefault">
        I accept these terms and condion
    </label>
</div>
<input type="submit" class="btn btn-primary"/>
</form>*@


<form asp-controller="Home" asp-action="Index" method="post">
    
    @foreach (var item in Model.CheckBoxes)
    {
        <div class="form-check">
            <input class="form-check-input" type="checkbox"
           
            value="@item.Value"
            id="cheackbox_@item.Value"
            name="Sports">
            <label class="form-check-label" for="flexCheckDefault">
                I accept these terms and condion
            </label>
        </div>

    }
    <br/>
<input type="submit" class="btn btn-primary"/>
</form>